:root {
  --content-color: #000;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --content-color: #eee;
    --background-color: #040604;
  }

  :any-link {
    color: rgb(0, 99, 197);
  }
}

html,
body {
  margin: 0;
  padding: 0;

  font-family:
    'Hanken Grotesk',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  text-wrap: pretty;

  background: var(--background-color);
  color: var(--content-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.25;
  margin: 0;
  max-width: 70ch;
}

#topPage {
  width: 100%;
  height: 100dvh;
  position: relative;

  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 1rem;
  gap: 1.125rem;
  text-align: center;
  position: relative;
}

#map::before {
  display: block;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  position: absolute;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    var(--background-color) 0%,
    color-mix(in srgb, var(--background-color), transparent 60%) 50%,
    transparent 100%
  );
}

#map {
  flex-grow: 1;
  position: relative;
  z-index: 10;
}

#scrollEncourager {
  position: absolute;
  bottom: 1rem;
  z-index: 100;

  --base-transform: translateX(-50%);

  left: 50%;
  transform: var(--base-transform);

  animation: encourage 1.5s ease-in-out infinite;
}

@media (prefers-reduced-motion: reduce) {
  #scrollEncourager {
    animation: none;
  }
}

@keyframes encourage {
  0% {
    transform: var(--base-transform) translateY(8px);
  }
  50% {
    transform: var(--base-transform) translateY(0);
  }
  100% {
    transform: var(--base-transform) translateY(8px);
  }
}

main {
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

main section:nth-of-type(even) {
  align-self: flex-end;
}

main section:nth-of-type(odd) {
  align-self: flex-start;
}

main p {
  margin: 1em 0;
}

footer {
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  align-items: center;
}

footer p {
  font-size: 1rem;
}

#nre {
  margin: auto;
  width: 100%;
  max-width: 250px;
  margin: auto;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1rem;
  }

  main {
    padding: 32px;
    gap: 32px;
  }

  footer {
    padding: 32px;
  }
}

@media (max-width: 400px) {
  header p {
    display: none;
  }

  #nre {
    max-width: 200px;
  }
}

.station-popup .maplibregl-popup-content {
  font-family:
    'Hanken Grotesk',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background: color-mix(in srgb, var(--background-color), transparent 70%);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  padding: 8px 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(-15px);
}

.station-popup .maplibregl-popup-tip {
  display: none;
}

#stationList {
  position: relative;
  border: 2px solid currentColor;
  border-collapse: collapse;
  margin-top: 0.75rem;
  min-width: 75%;
}

#stationList thead {
  background: var(--content-color);
  color: var(--background-color);
}

#stationList th:first-child {
  text-align: left;
}

#stationList th:last-child {
  text-align: right;
}

#stationList th,
#stationList td {
  padding: 8px 16px;
}

#stationList td {
  border: currentColor solid 1px;
}

#stationList tr td:first-child {
  font-weight: 700;
}

#stationList tr td:last-child {
  text-align: right;
}

#stationList .percentage {
  font-weight: 600;
}

#stationList.loading td:has(.loader) {
  padding: 16px;
}

#stationList.loading .loader {
  border: 4px solid var(--content-color);
  border-right-color: transparent;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#stationList tr.green {
  background: rgba(0, 255, 0, 0.2);
}

#stationList tr.yellow {
  background: rgba(255, 255, 0, 0.2);
}

#stationList tr.red {
  background: rgba(255, 0, 0, 0.2);
}

.maplibregl-ctrl-attrib {
  color: black;
}

:any-link {
  color: hsla(210, 100%, 50%, 1);
}
